-- gameplay
action r render_wireframe
action f render_solid

state w move_forward
state a move_left
state s move_back
state d move_right
state mouse_right spawn_ray
state left_shift move_up
state left_ctrl move_down
state mouse_left cursor_down

range mouse_x cursor_x
range mouse_y cursor_y
range mouse_scroll_x cursor_scroll_x
range mouse_scroll_y cursor_scroll_y
